<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-${spring.profiles.active}.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>build/logs/customer.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>build/logs/customer%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="com.zhangyu.filter.RequestLoggingFilter" level="info">
        <appender-ref ref="FILE" />
    </logger>

</configuration>

